---
layout: default
---

<!-- begin content -->
<main class="content" aria-label="Content">
    <!-- begin hero -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="hero__inner">
                        <div class="hero__left">
                            <h1 class="hero__title">Hi, I’m Chris Anderson</h1>
                            <p class="hero__description">I'm a software engineer sharing what I've learned in tech through coding tutorials and how-to guides.</p>
                            <div class="hero__subscribe">&nbsp;
                                <!-- <form class="subscribe-form validate"
                                    action="//frnla.us6.list-manage.com/subscribe/post?u=6314d69a3f315af7ce3fb00a0&amp;id=3038727cc3"
                                    method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form"
                                    target="_blank" novalidate>
                                    <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
                                    <input class="subscribe-email required email" id="mce-EMAIL" type="text"
                                        name="EMAIL" placeholder="Subscribe here">
                                    <button class="button button--primary subscribe-button" id="membedded-subscribe"
                                        type="submit" name="subscribe">Get a new tip</button>
                                </form> -->
                            </div>
                        </div>
                        <div class="hero__right">
                            <div class="hero__image">
                                <img class="lazy" data-src="/assets/img/01a.jpg" alt="'s Picture">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end hero -->


    <div class="container">
        <div class="section__head">
            <h3 class="section__title">Recent Posts</h3>
            <a href="/blog/" class="section__link">See all</a>
        </div>
        <div class="row animate">
    
            {% for post in site.posts limit:6 %}
                {% include article.html %}
            {% endfor %}
    
    
        </div>
    </div>
    <!-- begin pagination -->
    <!-- <div class="container">
        <div class="row">
            <div class="col col-12">
                <nav class="pagination animate">
                    <div class="pagination__inner">
                        <div class="pagination__list">
                            <span class="pagination__prev pagination__item disabled"><i
                                    class="ion ion-ios-arrow-back"></i> Prev</span>
                            <div class="pagination__count pagination__item">Page 1 of 2</div>
                            <a href="/page/2" class="pagination__next pagination__item">Next <i
                                    class="ion ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div> -->
    <!-- end pagination -->
<!-- Pagination links -->




    <!-- begin section-tags -->
    <section class="section section-tags">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="section__head">
                        <h3 class="section__title">Tags</h3>
                        <a href="/tags/" class="section__link">See all</a>
                    </div>
                    <div class="row">

                        <div class="col col-3 col-d-6 col-m-12">
                            <a href="/tags#Technology" class="tag-image">
                                <span class="tag-name">Technology</span>
                                <img class="lazy" data-src="/assets/img/tech1.png" alt="post.title">
                            </a>
                        </div>
                        <div class="col col-3 col-d-6 col-m-12">
                            <a href="/tags#Code" class="tag-image">
                                <span class="tag-name">Code</span>
                                <img class="lazy" data-src="/assets/img/09.jpg" alt="post.title">
                            </a>
                        </div>
                        <div class="col col-3 col-d-6 col-m-12">
                            <a href="/tags#HTML" class="tag-image">
                                <span class="tag-name">HTML</span>
                                <img class="lazy" data-src="/assets/img/18.jpg" alt="post.title">
                            </a>
                        </div>
                        <div class="col col-3 col-d-6 col-m-12">
                            <a href="/tags#Git" class="tag-image">
                                <span class="tag-name">Git</span>
                                <img class="lazy" data-src="/assets/img/02.jpg" alt="post.title">
                            </a>
                        </div>


                        <!-- {% for tag in site.tags limt:1 %}
                            {% for post in tag[1] limit:1 %}  
                                <div class="col col-3 col-d-6 col-m-12">
                                    <a href="/tags#{{ tag[0] }}" class="tag-image">
                                        <span class="tag-name">{{ tag[0] }}</span>
                                        <img class="lazy" data-src="{{ post.thumbnail-img }}" alt="post.title">
                                    </a>
                                </div>
                            {% endfor %}
                        {% endfor %} -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section-tags -->
</main>
<!-- end content -->