<header class="header" id="top">
    <div class="container">
        <div class="row">
            <div class="header__inner col col-12">
                <div class="logo">
                    <a class="logo__link" href="/">
                        Chris Anderson
                    </a>
                </div>
                <nav class="main-nav">
                    <div class="main-nav__box">
                        <div class="nav__icon-close">
                            <i class="ion ion-md-close"></i>
                        </div>
                        <div class="nav__title">Menu</div>
                        <ul class="nav__list list-reset">
                            <li class="nav__item">
                                <a href="/" class="nav__link">Home</a>
                            </li>
                            <li class="nav__item">
                                <a href="/about/" class="nav__link">About</a>
                            </li>
                            <!-- <li class="nav__item">
                                <a href="/contact/" class="nav__link">Contact</a>
                            </li>
                            <li class="nav__item">
                                <a href="/elements/" class="nav__link">Elements</a>
                            </li> -->
                            <li class="nav__item">
                                <a href="/blog/" class="nav__link">Blog</a>
                            </li>
                            <li class="nav__item">
                                <a href="/golf/" class="nav__link">Golf</a>
                            </li>
                            <li class="nav__item nav__item-icon">
                                <div class="toggle-theme">
                                    <div class="toggle-moon" title="Enable dark mode"><i class="ion ion-ios-moon"></i>
                                    </div>
                                    <div class="toggle-sun" title="Enable light mode"><i class="ion ion-ios-sunny"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="nav-button">
                    <i class="nav__icon icon__menu ion ion-md-menu"></i>
                    <i class="nav__icon icon__search ion ion-md-search"></i>
                </div>
            </div>
        </div>
    </div>
</header>