<div class="row">
  <div class="col col-6 col-d-12">
    <div class="post-image">
      <img class="lazy" data-src="/assets/img/07.jpg" alt="Do what you can, with what you have, where you are">
    </div>
  </div>
  <div class="col col-6 col-d-12">
    <div class="post__info ">
      <div class="post__tags">
        <a href="/tags#lifestyle" class="post__tag">lifestyle</a>
        <a href="/tags#travel" class="post__tag">travel</a>
        <a href="/tags#story" class="post__tag">story</a>
      </div>
      <h1 class="post__title">Do what you can, with what you have, where you are</h1>
      <div class="post__meta">
        <a href="/about/" class="post__author-image">
          <img class="lazy" data-src="/assets/img/01-1.jpg" alt="Camelia Mendes">
        </a>
        <div class="post__meta-bottom">
          <a class="post__author" href="/about/">Camelia Mendes</a>
          <time class="post__date" datetime="2020-11-12T12:01:35+00:00">12 Nov 2020</time>
        </div>
      </div>
    </div>
  </div>
</div>