<div class="row">
  <div class="col col-6 col-d-12">
    <div class="post-image">
      <img class="lazy" data-src="/assets/img/07.jpg" alt="Do what you can, with what you have, where you are">
    </div>
  </div>
  <div class="col col-6 col-d-12">
    <div class="post__info ">
      <div class="post__tags">
        {% if page.tags.size > 0 %}
          {% for tag in page.tags %}
            <a href="/tags#{{ tag }}" class="post__tag">{{ tag }}</a>
          {% endfor %}
        {% endif %}
      </div>
      <h1 class="post__title">{{ page.title }}</h1>
      <div class="post__meta">
        <a href="/about/" class="post__author-image">
          <img class="lazy" data-src="/assets/img/01-1a.jpg" alt="{{ page.author }}">
        </a>
        <div class="post__meta-bottom">
          <a class="post__author" href="/about/">{{ page.author }}</a>
          {% assign current_year = 'now' | date: "%-Y" %}
          {% assign post_year = page.date | date: "%-Y" %}

          {% assign today = site.time | date: '%s' %}
          {% assign start = page.date | date: '%s' %}
          {% assign secondsSince = today | minus: start %}
          {% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
          {% assign daysSince = hoursSince | divided_by: 24  %}    

          {% if daysSince <= 60 %}
              <time class="post__date" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
          {% else %}
              <time datetime="{{ page.date }}"></time>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>