---
layout: default
---

<div class="container">
    <div class="row animate">

        {% for post in paginator.posts %}


        {% include article.html %}

        {% endfor %}


    </div>
</div>
<!-- begin pagination -->
<div class="container">
    <div class="row">
        <div class="col col-12">
            <nav class="pagination animate">
                <div class="pagination__inner">
                    <div class="pagination__list">
                      {% if paginator.total_pages > 1 %}
                        {% if paginator.previous_page %}
                          <!-- <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev1</a> -->
                          <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination__prev pagination__item"><i
                            class="ion ion-ios-arrow-back"></i> Prev</a>
                        {% else %}
                          <span class="pagination__prev pagination__item disabled"><i
                          class="ion ion-ios-arrow-back"></i> Prev</span>
                        {% endif %}

                        {% for page in (1..paginator.total_pages) %}
                          {% if page == paginator.page %}
                          <div class="pagination__count pagination__item">Page {{ page }} of {{ paginator.total_pages }}</div>
                          {% endif %}
                        {% endfor %}
                        
                        {% if paginator.next_page %}
                        <!-- <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev1</a> -->
                        <a href="{{ paginator.next_page_path | relative_url }}" class="pagination__next pagination__item">Next <i
                          class="ion ion-ios-arrow-forward"></i></a>
                        {% else %}
                        <span class="pagination__next pagination__item disabled">Next <i
                          class="ion ion-ios-arrow-forward"></i></span>
                        {% endif %}

                      {% endif %}

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- end pagination -->

